/.idea/
**/build/*
**/target/*
/.gradle/
**/classes/*
**/out/*
hs_err_pid*
/logs/

*.class
*.iml
/bin/
/build/

.classpath
.project
/.settings/
/lwjgl-extract/
/.worktrees/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
